body { padding-bottom: 20px; }

.tab-content {
	width:80%;
	margin-left: 20%;
}
.leftSide{
    width: 20%;
    position: fixed;
    background-color: #7BAFD4;
	
}

.nav{
    float: left;
    height:100vh;
}

.nav li div  {
    padding-left: 20px;
}
.nav li img  {
    padding-left: 20px;
}

#inner {
    width: 50%;
    margin: 0 auto; 
}

.form-group{
    margin-right: 20px;
 
}
.form-inline{
    margin-left: 50px;
    margin-bottom: 20px;
    margin-right: 50px;

}

.page-header{
    height: 50px;
    background-color: green;
    margin-top: 0;
}

h1,h2,h3{
    padding: 0;
    margin-top: 0;
}

.jumbotron{
    background-color: white;
	margin-left:30%;
    
    position: relative;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

.jumbotron .container{
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    width: auto;
    height: auto;
    background-color: white;
	
}

.ui-tabs-nav {
    background-color: pink !important; /*To overwrite jquery-ui.css*/
}

/*.ui-tabs .ui-corner-all {*/
    /*width: inherit;*/
    /*background-color: black;*/
/*}*/

#tabs{
    background-color: white;
    width: inherit;
    height: 100%;
    padding: 0;
    margin: 0;
}
#basic{
    padding-left: 10px;
}
#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 
